.popup {
  display: -moz-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup.open {
  display: block;
}
.custom-button {
  background-color: #ED3237;
  color: white;
  border-color: #ED3237;
}
.custom-button:hover {
  background-color: white;
  color: #ED3237;
  border-color: #ED3237;
}
.custom-button:active {
  background-color: white;
  color: #ED3237;
  border-color: #ED3237;
}
.detail-button {
  color: #FF6445;
  border-color: #FF6445;
}
.detail-button:hover {
  background-color: #FF6445;
  border-color: #FF6445;
  color: #ffffff;
}
.justify-content-start{
  color: #FF6445;
}
