#username {
  color: #FF6445;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.logo {
  margin: 0 auto;
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-top: 30px;
}
p {
  display: block;
  margin: 0 auto; /* Center horizontally */
  text-align: justify;
  max-width: 600px; /* Adjust the width as needed */
  font-size: 20px;
}
